src/ui/__pycache__/search_view.cpython-310.pyc
src/ui/__pycache__/main_view.cpython-310.pyc
src/ui/__pycache__/results_view.cpython-310.pyc
src/optimizer/__pycache__/optimization_script.cpython-310.pyc
